<div *ngIf="cars; else noDataFound" class="container">
  <h1>CAR MANAGEMENT PAGE</h1>
  <div class="search-block">
    <label class="sr-only" for="search_id">Search By ID</label>
    <input [(ngModel)]="key" class="form-control" name="key" id="key" placeholder="Enter car id..."/>
    <button (click)="onSearch()" class="btn-search"><ion-icon name="search"></ion-icon></button>
  </div>
  <br>
  <table class="table table-striped api-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th class="d-none d-md-block">Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cars">
          <td>{{ c.id }}</td>
          <td>{{ c.make }} {{ c.model }}</td>
          <td>{{ c.price }}</td>
          <td class="d-none d-md-block">{{ c.year }}</td>
          <td><a class="btn btn-info" href="cars/info/{{ c.id }}">Full details</a></td>
        </tr>
    </tbody>
  </table>
</div>
<ng-template #noDataFound>
  <div class="container">
      <div class="jumpbotron">
          No content found!
        </div>
    </div>
</ng-template>