/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Galada|Lato');
html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 1.75em;
    padding: 10px 5px;
}