<div class="container">
  <br>
  
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h1>Welcome to <span class="heading">Stark</span> App</h1>
        <p>A repository of customers and their fancy cars. </p>
        <p>This web application is built by Thang Cong
          Dinh and Aqs Malhotra.</p>
          <div class="api-box">
          <p>
            To connect with Customers API, refer to the following links
          </p>
          <p>
             <a style="margin-right:1em;" href="https://aqsmalhotra.com/aqs-api/pages/documentation.php" class="btn btn-sm btn-success" target="_blank">Documentation</a> 
             <a href="https://aqsmalhotra.com/aqs-api/login.php" class="btn btn-sm btn-danger" target="_blank">Visit Website</a> 
          </p>
          </div>
        
          <div class="api-box">
          <p>
            To connect with Cars API, refer to the following links
          </p>
          <p>
              <a style="margin-right:1em;" href="http://stark-app.lilcasoft.info/pages/documentation.php" class="btn btn-sm btn-success" target="_blank">Documentation</a> 
              <a href="http://stark-app.lilcasoft.info/login.php" class="btn btn-sm btn-danger" target="_blank">Visit Website</a> 
           </p>
          </div>

      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <img src="assets/landing.png" class="img-fluid" alt="cars"/>
      </div>

    </div>

</div>